APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:S/y1/0k3vFPr5pdSSKAyLiPFD9OaWWX93CTCoS5h4e0=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

JWT_TTL=1440
JWT_SECRET=771KsZJThNPnBXpE3MxYvMq2mBu5T6feoksA0hkkQ4DJOMVMlqpbigb2XStN8v9v
